h2 {
    font-size: 25px;
    color: FireBrick;
}
time {
    font-size: 15px;
    font-weight: bold;
}
.button{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
.flexContainer{
    font-size: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    min-height: 100%;
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 15px;
    }
    time {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 18px;
    }
    time {
        font-size: 12px;
    }
}

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 20px;
    }
    time {
        font-size: 14px;
    }
}