ul {
    background: DarkGray;
    margin: 30px;
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 25px;
    box-shadow: 0 6px 8px 0 DimGray; 
    border: 1px solid FireBrick;
    border-radius: 10px;
}