h2 {
    font-size: 30px;
    color: FireBrick;
    margin: 0;
}
article {
    background-image: linear-gradient(to right, FireBrick, 3%, WhiteSmoke 15%);
    border: 1px solid FireBrick;
    border-radius: 10px;
    padding: 30px;
    margin: 0;
}
time {
    font-size: 15px;
    font-weight: bold;
}