#image {
    border: 0.5rem;
    border-style: solid;
    border-color: FireBrick;
    border-radius: 50%;
    box-shadow: 0.1rem 0.2rem 0.8rem Black;
    width: 50%;
    float: upper;
    margin-inline-start: 1%;
    margin-top: 10%;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
    #image {
      width: 75%;
    }
}

@media screen and (max-width: 800px) {
    #image {
        width: 65%;
      }
}

@media screen and (max-width: 1200px) {
    #image {
        width: 55%;
      }
}